body {
  max-width: 375px;
  top: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #191765;
  z-index: 999;
}

.main-nav {
  width: 375px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin: 15px 8px;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;
  align-items: center;
  position: relative;
}

.item-links,
.email-icon,
.big-circle1,
.big-circle2 {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 375px;
  row-gap: 30px;
  position: relative;
  top: 20%;
  background-image: url('icons/Ellipse18.png');
  background-position-y: -5%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: auto;
}

.name-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 999;
}

.logo {
  animation: tope 1.5s 1;
}

@keyframes tope {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}
.primary-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #7d73fc ;
  text-transform: capitalize;
  text-align: center;
}

.support-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #edecff;
  margin: 0;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
}

.underline {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
}

.skills {
  position: relative;
  width: 375px;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url('icons/Ellipse19.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2%;
}

.skills > div {
  width: 50%;
}

.description {
  width: 82.7%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #cbc8d4;
}

.lang-cont {
  padding: 0;
  list-style: none;
}

.lang {
  color: #9490ff;
}

.lang-cont li p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
}

.underline2 {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.social-media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.media {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.work-btn2 {
  display: none;
}

.work-btn {
  display: flex;
  flex-direction: row;
  height: 30px;
  column-gap: 20px;
}

.work {
  color: #a2a3ae;
  position: relative;
  top: -30%;
}

.work-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  row-gap: 70px;
}

.work-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:flex-start;
  row-gap: 10px;
  margin-left: 2% 0;
}

.work-title h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  width: 82.7%;
  color: #9490ff;
  margin-left: 5%;
  text-transform: capitalize;
}

.underline3 {
  width: 90%;
  border: 1px solid #646369;
  position: relative;
  left: 5%;
}

.recent-work {
  display: grid;
  grid-template-columns: 395px;
  grid-template-rows: auto auto auto auto;
  z-index: 999;
  row-gap: 20px;
}

.recent-work > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.work1 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  z-index: 999;
  width: 375px;
}

.bg1 {
  background-image: url('icons/back1.png');
  background-repeat: no-repeat;
  background-position-x: 0;
}

.bg2 {
  background-image: url('icons/back2.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 70%;
}

.bg3 {
  background-image: url('icons/back3.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 50%;
  background-size: 70%;
}

.bg4 {
  background-image: url('icons/back4.png');
  background-repeat: no-repeat;
  background-position: right; 
  background-position-y: 0;
}

.work1 > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 5%;
  margin: 0 auto;
}

.work1-link {
  margin: 0 auto;
  width: 90%;
}

.tag {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 90%;
  justify-content: flex-start;
}

.tag li {
  width: 25%;
  text-align: left;
  padding: 5px;
  border-right: 1px solid grey;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tag li:last-of-type {
  border-right: none;
}

.proj-btn {
  width: 115px;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: #bfb3ef;
  color: #2d1a7a;
  padding: 12px 8px;
}

.proj-btn:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48)
}

.project-title {
  width: 87.2%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  color: #dcdce8;
}

.contact-form {
  width: 375px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 0;
}

.work-backg {
  display: none;
}

.contact-me {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  align-items: center;
}

.contact-us {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #9390ff;
  text-transform: uppercase;
}

.chat {
  display: none;
}

.contact-me p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 87.3%;
  left: 50%;
  color: #f5f5ff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 10px;
  left: 2%;
}

.submit-btn {
  width: 90px;
  height: 50px;
  background-color: #bfb3ef;
  color: #2d1a7a;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
}

.submit-btn:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48)
}

#input,
#email,
#message {
  width: 90%;
  height: 30px;
  outline: 1px solid #fff;
}

.footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
  width: 375px;
}

.underline-footer {
  border: 1px solid grey;
  width: 90%;
}

.mymail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

@media screen and (min-width: 425px) and (max-width:991px) {
  body {
    width: 100vw;
  }

  .main-nav {
    width: 98vw;
     
  }

  .tool-bar {
    width: 100%;
  }

  .content {
    width: 100vw;
    align-items: center;
  }

  .skills {
    width: 100%;
    flex-wrap: none;
    margin-left: 10%;  
  }

  .skills > div {
    width: 33.33%;
  }

  .work-section{
    width: 100vw;
  }

  .work-title h1 {
    width: 100%;
  }

  .recent-work {
    grid-template-columns:100vw;
  }

  .work1-link {
    display: flex;
    justify-content: center;
  }

  .work1 > div {
    width: 60%;
  }

  .proj-btn {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  
  .bg2 {
    background-size: 28%;
    background-position-y: 0;
  }

  .contact-form {
    width: 100vw;
  }

  .contact-me {
    width: 70%;
  }

  .form {
    width: 70%;
  }

  .footer {
    width: 100vw;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  body {
    width: 100vw;
    background-image: url('icons/circle2header@2x.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 90%;
    background-position-y: 12%;
  }

  .main-nav {
    width: 97vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
  }

  .email-icon {
    display: flex;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    position: relative;
    right: 50px;
    column-gap: 20px;
    align-items: center;
    animation: topes 1.5s 1;
  }

  .item-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    column-gap: 20px;
  }

  .item-links li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: all 1.5s;
  }

  .item-links li a:hover {
    text-decoration: underline;
  }

  @keyframes topes {
    0% {
      transform: translateX(100%);
    }
  
    50% {
      transform: translateX(50%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }

  .content {
    width: 97vw;
    background-image: url('icons/circle1header@2x.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 15%;
    background-position-x: 8%;
  }

  .name-header {
    width: 100%;
  }

  .primary-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
  }

  .support-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    margin: 0;
  }

  .description {
    width: 38.7%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #bcbac5;
  }

  .skills {
    width: 38.7%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-image: none;
  }

  .underline {
    width: 38.7%;
  }

  .work-btn {
    display: none;
  }

  .skills > div {
    width: 33.33%;
  }


  .normal-button {
    display: none;
  }

  .tool-bar {
    width: 20%;
    margin-left: 50px;
  }

  .work-section {
    width: 98vw;
  }

  .work-title {
    width: 100%;
  }

  .work-title h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 114px;
    text-transform: capitalize;
  }

  .recent-work {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
    row-gap: 80px;
  }

  .work1 {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .recent-work > div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .recent-work > div:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .recent-work > div:nth-of-type(4) {
    flex-direction: row-reverse;
  }
  
  .work1-link {
    width: 55%;
  }

  .work1-link img {
    width: 100%;
  }

  .work1 > div {
    width: 30%;
    justify-content: flex-end;  
  }

  .project-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .project-desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #dfe1e6;
  }

  .bg1 {
    background-image: url('icons/desktop1.png');
  }

  .bg2 {
    background-image: url('icons/desktop2.png');
    background-size: 30%;
  }

  .bg3 {
    background-image: url('icons/desktop3.png');
    background-size: 30%;
  }

  .bg4 {
    background-image: url('icons/desktop4.png');
  }

  .contact-form {
    width: 98vw;
    margin-top: 250px;
    position: relative;
  }

  .contact-me {
    width: 50%;
  }

  .contact-us {
    display: none;
  }
  
  .chat {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #9390ff;
    text-transform: uppercase;
  }

  .form {
    width: 50%;
  }

  .footer {
    width: 100vw;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }

  .submit-btn {
    margin-top: 50px;
  }

}